@media (max-width: 1320px) {
    .container {
        display: flex;
        justify-content: center;
        width: 100rem!important;
    }
    #music-image {
        width: 50rem!important;
    }
    body {
        font-size: 1.9rem!important;
        line-height: 1.3!important;
    }
    .track-image {
        height: 4.5rem;
    }
    #music-list-section {
        width: 50rem!important;
    }
}

@media (max-width: 1100px) {
    .container {
        width: 90rem!important;
        gap: 1.4rem;
    }
    #music-image {
        width: 50rem!important;
    }
    body {
        font-size: 1.8rem!important;
        line-height: 1.2!important;
    }
    .track-image {
        height: 4rem;
    }
    #music-list-section {
        width: 40rem;
    }
    
}

@media (max-width: 992px) {
    .container {
        width: 85rem!important;
        gap: 1.4rem;
    }
    #music-image {
        width: 45rem!important;
    }

    .track-image {
        height: 3rem;
    }
    #music-list-section {
        width: 35rem;
    }
    
}

@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    #music-image {
        width: 50rem!important;
        align-self: center;
    }
    .track-image {
        height: 4rem;
    }
    #music-list-section {
        width: 100%!important;
    }
} 
